.blue{
    color: #35B8BE;
    cursor: help;
}

.main_content {
    text-align: center;
    padding: 20px; 
    z-index: 1; 
}

.content-h2 {
    color: #333;
    margin-bottom: 8px;
}

.content-text {
    color: #666;
}

.content-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.main-button {
    background-color: inherit;
    border: none;
    border-radius: 5px;
    color: black;
    border: 0.4px solid #666;
    padding: 15px 40px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-button:hover {
    background-color: #139a9b;
}

.main-button-0 {
    background-color:#35B8BE;
    color: white;
}

.main-button-0:hover {
background-color: #0884d7;
}
  
  .content-background {
    position: absolute;
    z-index: -1;
    top: 1.8rem;
    left: 0%
  }
  
  .background-img{
    max-width: 100%;
  }

  .content {
    z-index: 2;
  }
  