
    .login-container {
    font-family: 'Inter', sans-serif,monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--background_color);
    }

    .login-title {
    text-align: center;
    font-size: 0.7rem;
    color: #40c4c1;
    margin-bottom: 20px;
    }

    .login-form {
    display: flex;
    flex-direction: column;
    background-color: #f8fafa;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 5rem;
    }

    .form-group-login {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    }

    .form-label {
    border-radius: 25px;
    display: block;
    margin-bottom: 5px;
    font-size: 0.3rem;
    }

    .form-input {
    height: 0.5rem;
    width: 60%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    }

    .button-group {
    display: flex;
    justify-content: space-around;
    }

    .button-submit {
    background-color: #40c4c1;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 40%;
    }

    .button-cancel {
    background-color: white;
    border: 1px solid #e7e7e7;
    color: #333;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 40%;
    }

    .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
    }

    .login-container-logged {
    margin: 0 auto;
    margin-top: 8%;
    width: 50%;
    height: auto;
    border-radius: 25px;
    border: 2px solid rgba(53, 184, 190, 0.15);
    text-align: center;
    padding: 20px;
    color: var(--text_color);
    background-color: var(--background_color);
    }

    .blue-text {
    color: #40c4c1;
    }

    .primary {
    background-color: #40c4c1;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    }
