.column_main {
    display: flex;
    flex-direction: column; 
    gap: 0.4rem; 
    align-items: start;
  }
  
  .column_main-h1{
    font-family: Inter;
    text-transform: uppercase;
    color: #000; 
    font-size: 0.75rem;
    font-weight: bold; 
  }

  .column_main-buttons {
    padding: 0;
    color: #546285;
    font-family: Inter;
    text-decoration: none; 
    border: none;
    background: none;
    border-radius: 5px; 
    cursor: pointer; 
    transition: color 0.3s ease; 
    font-size: 0.6125rem
  }
  
  .column_main-buttons:hover {
   color: #d2d1d1;
  }

  @media (min-width: 768px) {

    .column_main {
        display: flex;
        flex-direction: column;
        gap: 0.25rem; 
        align-items: flex-start
      }
      
      .column_main-h1{
        font-family: Inter;
        text-transform: uppercase;
        color: #000;
        font-size: 0.35rem; 
        font-weight: bold; 
      }
    
      .column_main-buttons {
        padding: 0;
        color: #546285;
        font-family: Inter;
        text-decoration: none; 
        font-size: 0.27rem;
        border: none;
        background: none;
        cursor: pointer; 
        transition: color 0.3s ease;
      }
      
      .column_main-buttons:hover {
       color: #d2d1d1;
      }


  }
